[Unit]
Description=DX-RT Service

[Service]
ExecStart=/usr/local/bin/dxrtd
WorkingDirectory=/usr/local/bin/
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target


