name: dx_rt-pr-test
run-name: dx_rt-pr-test

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions: write-all

jobs:
  rt_pr_test:
    name: PR ${{ github.event.pull_request.number}}
    if: startsWith(github.event.pull_request.title, 'ci-skip') == false && startsWith(github.event.pull_request.title, 'doc') == false
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, aarch64]
        os: [18.04, 20.04, 22.04, 24.04, debian-12]
        exclude:
          - arch: aarch64
            os: 18.04
          - arch: x86_64
            os: debian-12
    uses: deepx/do_workflows-central/.github/workflows/dx_rt-pr-test.yml@main
    with:
      arch: ${{ matrix.arch }}
      os: ${{ matrix.os }}
      rt_version: ${{ github.event.pull_request.head.sha }}
    secrets: inherit